version: "3.8"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    networks:
      - my-network

  mysql:
    image: mysql:latest
    environment:
      MYSQL_USER: abhishek
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: student
      MYSQL_PASSWORD: 123456
    ports:
      - "3306:3306"
    networks:
      - my-network

networks:
  my-network:
    driver: bridge