version: "3.8"

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_USER: abhishek
      # MYSQL_ROOT_PASSWORD: 123456
      # MYSQL_DATABASE: student
      MYSQL_PASSWORD: 123456
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: student
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - my-network
    volumes:
        - mysql-data:/var/lib/mysql

  app:
    build: .
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/student
      SPRING_DATASOURCE_USERNAME: abhishek
      SPRING_DATASOURCE_PASSWORD: 123456

    ports:
        - "8080:8080"
    networks:
      - my-network

networks:
  my-network:
    driver: bridge

volumes:
  mysql-data: